<div class="container p-5">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <div class="w-100">
        <h1 class="rounded-pill p-3 d-flex justify-content-center bgPar">Balance general:<span [ngClass]="{colorGreen: sumaIngreso - sumaEgreso > 0, colorRed: sumaIngreso - sumaEgreso < 0}"> &nbsp; ${{sumaIngreso - sumaEgreso}}</span></h1>
        <div class="d-flex justify-content-between py-4">
          <h3 class="colorGreen">Ingresos totales: ${{sumaIngreso}} </h3>
          <h3 class="colorRed">Egresos totales: ${{sumaEgreso}} </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h1 class="my-5">Ultimos movimientos</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="p-4">Tipo</th>
            <th scope="col" class="p-4">Fecha</th>
            <th scope="col" class="p-4">Concepto</th>
            <th scope="col" class="p-4">Monto</th>
          </tr>
        </thead>
        <tbody *ngFor="let op of operations | slice:0:10; let i=index; let impar = odd;let par = even" [ngClass]="{bgPar:par,bgimpar:impar}">
          <tr>
            <td class="p-4">{{op.tipo}}</td>
            <td class="p-4">{{op.fecha}}</td>
            <td class="p-4">{{op.concepto}}</td>
            <td class="p-4" [ngClass]="{colorGreen: op.tipo === 'Ingreso', colorRed: op.tipo === 'Egreso'}">${{op.monto}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
